body{
    background: black;
}
.post{
    background:white;
    margin: auto;
    width: 450px;
    height: 600px;
}
.more{
    margin-top: 15px;
    margin-right: 8px;
}
.ipheader{
    padding:0px 10px; display: flex; 
    justify-content : space-between;
    height: 60px;
}
.iplogo{
    padding:10px; display: flex; 
}
.title {
    line-height: 0.05 ;
    margin-left: 10px;
}
.footer{
    padding: 10px;
}

.fa-bookmark {
    float: right;
}
img {
    display: flex;
  width: 450px;
}
.icon{
    margin:15px 0px;
}
#ichtml{
    margin-top: 8px;
}
.ftParag>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}