body{
    background: black;
}
.post{
    display: block;
    background:white;
    margin: auto;
    width: 400px;
    height: 600px;
}
.header{
    padding:10px; display: inline-flex; border-color: yellowgreen;background: violet;border-style: solid;border-width: 2px;width: 380px;
}
.icon{
    height: 20px;width:auto;
}

.fa-bookmark {
    float: right;
}
img {
  width: 400px;
}


/*
Para revisión
*/

.footer{
    background: violet;border-width: 2px;border-color: yellowgreen;
}
.title{
    background: red;
}
.hicon{
    background: blue;
}
.more{
    background: yellow;
}
